bodt {
	overflow-x: hidden !important;
}

.Carousel {
	height: 700px;
	margin: 50px 0;
}

h3 {
	color: #ffffff;
}
.d-block {
	height: 100% !important;
	width: 100% !important;
}
.carousel-item {
	height: 680px;
}
.List > a > li {
	display: inline;
	margin: 0px 20px;
	font-family: Roboto;
	font-size: 20px;
	color: white;
}
.List > a:hover {
	color: rgba(255, 255, 255, 0);
}
.List > a > li:hover {
	color: #75b4e3;
}
.icon {
	font-size: 50px;
	margin: 0px 10px;
	transition: all 0.3s ease;
	border-radius: 5px;
}
.icon:hover {
	background-color: transparent;
	color: #75b4e3;
	/* box-shadow: 0px 0px 5px white; */
}

.center {
	margin: auto;
	font-size: 10px;
	text-align: center;
}
.CarouselLinks:hover {
	text-decoration: none;
	box-shadow: 0px 0px 5px white;
	color: white;
}
.CarouselLinks {
	transition: all 0.3s ease;
	color: white;
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	background: rgba(0, 0, 0, 20%);
	backdrop-filter: blur(25px);
	padding: 5px;
}
.NewsFooter {
	width: 1360px;
	height: 302px;
	left: 0px;
	top: 1800px;
}
.logo-link {
	text-decoration: none;
}
.logo-link:hover {
	text-decoration: none;
}
.HomeFooter {
	width: 1360px;
	height: 302px;
	left: 0px;
	top: 1600px;
}
.Link {
	color: black;
	font-family: Roboto;
	font-style: normal;
	font-weight: normal;
	font-size: 30px;
}
.Link:hover {
	text-decoration: none;
	color: #54416d;
}
.Table {
	top: 20px;
	left: 0;
	width: 100%;
	margin: auto;
	height: 200px;
}
.TableElements {
	color: #54416d;
	text-align: center;
	z-index: 2;
}
.TextAlign:hover {
	color: white;
}
.Align {
	font-size: 30px;
	padding: 3% 8%;
}
.TextAlign {
	text-align: Left;
	padding-top: 20%;
	transition: all 0.3s ease;
}
.Align:hover {
	text-decoration: none;
	color: #54416d;
}
.carousel-caption {
	top: 5px;
}

.align {
	width: 26%;
}
.link {
	text-decoration: none;
	color: white;
	fill: white;
}
.link:hover {
	text-decoration: none;
	color: white;
	fill: white;
}
@media (max-width: 1100px) {
	.names {
		font-size: 1.5rem;
	}
	.icon {
		font-size: 30px;
	}
}
@media (max-width: 650px) {
	.Carousel {
		height: 400px;
	}
	.carousel-item {
		height: 380px;
	}
	.Link {
		font-size: 20px;
	}
	.TableElements {
		font-size: 0.6rem;
	}
}
.nf-button {
	font-size: 1vw;
	text-decoration: none;
	color: #31255a;
	margin: auto;
	border: 0.2vw solid #31255a;
	padding: 15px;
	border-radius: 15vw;
	transition: all 0.3s ease;
	font-weight: 600;
}
.nf-button:hover {
	text-decoration: none;
	color: #fff;
	background-color: #31255a;
}
.pointer {
	padding: 10px 20px;
	border: 0.2vw solid white;
	cursor: pointer;
	transition: all 0.3s ease;
	border-radius: 15vw;
}
.pointer:hover {
	text-shadow: 0px 0px 15px grey;
}
